/* Login container */
.login-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

/* Background image */
.background-image {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login form */
.login-form {
  display: flex;
  flex-direction: column;
  background-color: white;
}

/* Form inputs */
.login-input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  color: black;
}

/* Error messages */
.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 4px;
}

/* Login button */
.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Register link */
.signup {
  margin-top: 10px;
  font-size: 14px;
  background-color: white;
}

.reg {
  color: #007bff;
  text-decoration: none;
  background-color: whitesmoke;
}
/* Toast container */

.reg:hover {
  text-decoration: underline;
}

/* * {
  background-color: white;
} */

/* Custom styles for React-Toastify toast container */
.react-toastify__toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px; /* Adjust the width as needed */
  z-index: 9999;
}

/* Custom styles for individual toasts */
.react-toastify__toast {
  background-color: #333; /* Customize the background color */
  color: #fff; /* Customize the text color */
  border-radius: 4px; /* Customize the border radius */
  font-size: 16px; /* Customize the font size */
}

/* Styling for the close button (optional) */
.react-toastify__close-button {
  color: #fff;
  font-size: 16px;
}

.error {
  background-color: white;
}
