/* SidebarHeaderContainer
.requirement-container {
    display: flex;
  } */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* background-color: #f5f5f5; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin-left: 200px;
}
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
}

.sidebar-contents {
  display: flex;
  align-items: center; /* Center the contents vertically */
  padding: 8px;
  text-decoration: none; /* Remove default link underline */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
  color: white;
}

.sidebar-contents i {
  padding: 3px;
  margin-right: 8px; /* Add some spacing between the icon and text */
}

.sidebar-contents:hover {
  background-color: #f2f2f2;
  color: black; /* Add a subtle hover effect */
}

.sidebar-contents i {
  color: #555; /* Customize the icon color */
}

.sidebar-contents span {
  color: #333; /* Customize the text color */
  font-weight: bold; /* Make the text bold */
}

/*   
  .header-title {
    margin: 0;
  }
  
  .header-text {
    display: flex;
    align-items: center;
  }
  
  .class-logo {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
  
 
  .zen-logo {
    width: 100px;
    height: 100px;
  }
  
  .icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #000;
    text-decoration: none;
  }
   */
/* Add any additional styles for sidebar items here */

/* Additional styles for the rest of your application */
/* */
